#DIV_1 {
    height: 1134px;
    width: 897px;
    perspective-origin: 448.5px 567px;
    transform-origin: 448.5px 567px;
    font: normal normal 400 normal 16px / normal "Times New Roman";
}/*#DIV_1*/

#DIV_1:after {
    font: normal normal 400 normal 16px / normal "Times New Roman";
}/*#DIV_1:after*/

#DIV_1:before {
    font: normal normal 400 normal 16px / normal "Times New Roman";
}/*#DIV_1:before*/

#B_2, #A_3 {
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    font: normal normal 700 normal 16px / normal "Times New Roman";
}/*#B_2, #A_3*/

#B_2:after, #A_3:after {
    font: normal normal 700 normal 16px / normal "Times New Roman";
}/*#B_2:after, #A_3:after*/

#B_2:before, #A_3:before {
    font: normal normal 700 normal 16px / normal "Times New Roman";
}/*#B_2:before, #A_3:before*/

#BR_4, #BR_5, #BR_7, #A_9, #BR_11, #BR_13, #A_15, #BR_17, #BR_19, #A_21, #BR_23, #BR_25, #A_27, #BR_29, #BR_31, #A_33, #BR_35, #BR_37, #A_39, #BR_41, #BR_43, #A_45, #BR_47, #BR_49, #A_51, #BR_53, #BR_55, #A_57, #BR_59, #BR_61, #A_63, #BR_65, #BR_67, #A_69, #BR_71, #BR_73, #A_75, #BR_77, #BR_79, #A_81, #BR_83, #BR_85, #A_87, #BR_89, #BR_91, #A_93, #BR_95 {
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    font: normal normal 400 normal 16px / normal "Times New Roman";
}/*#BR_4, #BR_5, #BR_7, #A_9, #BR_11, #BR_13, #A_15, #BR_17, #BR_19, #A_21, #BR_23, #BR_25, #A_27, #BR_29, #BR_31, #A_33, #BR_35, #BR_37, #A_39, #BR_41, #BR_43, #A_45, #BR_47, #BR_49, #A_51, #BR_53, #BR_55, #A_57, #BR_59, #BR_61, #A_63, #BR_65, #BR_67, #A_69, #BR_71, #BR_73, #A_75, #BR_77, #BR_79, #A_81, #BR_83, #BR_85, #A_87, #BR_89, #BR_91, #A_93, #BR_95*/

#BR_4:after, #BR_5:after, #BR_7:after, #A_9:after, #BR_11:after, #BR_13:after, #A_15:after, #BR_17:after, #BR_19:after, #A_21:after, #BR_23:after, #BR_25:after, #A_27:after, #BR_29:after, #BR_31:after, #A_33:after, #BR_35:after, #BR_37:after, #A_39:after, #BR_41:after, #BR_43:after, #A_45:after, #BR_47:after, #BR_49:after, #A_51:after, #BR_53:after, #BR_55:after, #A_57:after, #BR_59:after, #BR_61:after, #A_63:after, #BR_65:after, #BR_67:after, #A_69:after, #BR_71:after, #BR_73:after, #A_75:after, #BR_77:after, #BR_79:after, #A_81:after, #BR_83:after, #BR_85:after, #A_87:after, #BR_89:after, #BR_91:after, #A_93:after, #BR_95:after {
    font: normal normal 400 normal 16px / normal "Times New Roman";
}/*#BR_4:after, #BR_5:after, #BR_7:after, #A_9:after, #BR_11:after, #BR_13:after, #A_15:after, #BR_17:after, #BR_19:after, #A_21:after, #BR_23:after, #BR_25:after, #A_27:after, #BR_29:after, #BR_31:after, #A_33:after, #BR_35:after, #BR_37:after, #A_39:after, #BR_41:after, #BR_43:after, #A_45:after, #BR_47:after, #BR_49:after, #A_51:after, #BR_53:after, #BR_55:after, #A_57:after, #BR_59:after, #BR_61:after, #A_63:after, #BR_65:after, #BR_67:after, #A_69:after, #BR_71:after, #BR_73:after, #A_75:after, #BR_77:after, #BR_79:after, #A_81:after, #BR_83:after, #BR_85:after, #A_87:after, #BR_89:after, #BR_91:after, #A_93:after, #BR_95:after*/

#BR_4:before, #BR_5:before, #BR_7:before, #A_9:before, #BR_11:before, #BR_13:before, #A_15:before, #BR_17:before, #BR_19:before, #A_21:before, #BR_23:before, #BR_25:before, #A_27:before, #BR_29:before, #BR_31:before, #A_33:before, #BR_35:before, #BR_37:before, #A_39:before, #BR_41:before, #BR_43:before, #A_45:before, #BR_47:before, #BR_49:before, #A_51:before, #BR_53:before, #BR_55:before, #A_57:before, #BR_59:before, #BR_61:before, #A_63:before, #BR_65:before, #BR_67:before, #A_69:before, #BR_71:before, #BR_73:before, #A_75:before, #BR_77:before, #BR_79:before, #A_81:before, #BR_83:before, #BR_85:before, #A_87:before, #BR_89:before, #BR_91:before, #A_93:before, #BR_95:before {
    font: normal normal 400 normal 16px / normal "Times New Roman";
}/*#BR_4:before, #BR_5:before, #BR_7:before, #A_9:before, #BR_11:before, #BR_13:before, #A_15:before, #BR_17:before, #BR_19:before, #A_21:before, #BR_23:before, #BR_25:before, #A_27:before, #BR_29:before, #BR_31:before, #A_33:before, #BR_35:before, #BR_37:before, #A_39:before, #BR_41:before, #BR_43:before, #A_45:before, #BR_47:before, #BR_49:before, #A_51:before, #BR_53:before, #BR_55:before, #A_57:before, #BR_59:before, #BR_61:before, #A_63:before, #BR_65:before, #BR_67:before, #A_69:before, #BR_71:before, #BR_73:before, #A_75:before, #BR_77:before, #BR_79:before, #A_81:before, #BR_83:before, #BR_85:before, #A_87:before, #BR_89:before, #BR_91:before, #A_93:before, #BR_95:before*/

#SPAN_6, #BR_8, #A_12, #BR_16, #BR_20, #A_24, #BR_28, #BR_32, #A_36, #BR_40, #BR_44, #A_48, #BR_52, #BR_56, #A_60, #BR_64, #BR_68, #A_72, #BR_76, #BR_80, #A_84, #BR_88, #BR_92, #A_96 {
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    font: normal normal 400 normal 16px / normal "Times New Roman";
}/*#SPAN_6, #BR_8, #A_12, #BR_16, #BR_20, #A_24, #BR_28, #BR_32, #A_36, #BR_40, #BR_44, #A_48, #BR_52, #BR_56, #A_60, #BR_64, #BR_68, #A_72, #BR_76, #BR_80, #A_84, #BR_88, #BR_92, #A_96*/

#SPAN_6:after, #BR_8:after, #A_12:after, #BR_16:after, #BR_20:after, #A_24:after, #BR_28:after, #BR_32:after, #A_36:after, #BR_40:after, #BR_44:after, #A_48:after, #BR_52:after, #BR_56:after, #A_60:after, #BR_64:after, #BR_68:after, #A_72:after, #BR_76:after, #BR_80:after, #A_84:after, #BR_88:after, #BR_92:after, #A_96:after {
    font: normal normal 400 normal 16px / normal "Times New Roman";
}/*#SPAN_6:after, #BR_8:after, #A_12:after, #BR_16:after, #BR_20:after, #A_24:after, #BR_28:after, #BR_32:after, #A_36:after, #BR_40:after, #BR_44:after, #A_48:after, #BR_52:after, #BR_56:after, #A_60:after, #BR_64:after, #BR_68:after, #A_72:after, #BR_76:after, #BR_80:after, #A_84:after, #BR_88:after, #BR_92:after, #A_96:after*/

#SPAN_6:before, #BR_8:before, #A_12:before, #BR_16:before, #BR_20:before, #A_24:before, #BR_28:before, #BR_32:before, #A_36:before, #BR_40:before, #BR_44:before, #A_48:before, #BR_52:before, #BR_56:before, #A_60:before, #BR_64:before, #BR_68:before, #A_72:before, #BR_76:before, #BR_80:before, #A_84:before, #BR_88:before, #BR_92:before, #A_96:before {
    font: normal normal 400 normal 16px / normal "Times New Roman";
}/*#SPAN_6:before, #BR_8:before, #A_12:before, #BR_16:before, #BR_20:before, #A_24:before, #BR_28:before, #BR_32:before, #A_36:before, #BR_40:before, #BR_44:before, #A_48:before, #BR_52:before, #BR_56:before, #A_60:before, #BR_64:before, #BR_68:before, #A_72:before, #BR_76:before, #BR_80:before, #A_84:before, #BR_88:before, #BR_92:before, #A_96:before*/

#BR_10, #BR_14, #BR_22, #A_30, #BR_38, #BR_46, #A_54, #BR_62, #BR_70, #A_78, #BR_86, #BR_94 {
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    font: normal normal 400 normal 16px / normal "Times New Roman";
}/*#BR_10, #BR_14, #BR_22, #A_30, #BR_38, #BR_46, #A_54, #BR_62, #BR_70, #A_78, #BR_86, #BR_94*/

#BR_10:after, #BR_14:after, #BR_22:after, #A_30:after, #BR_38:after, #BR_46:after, #A_54:after, #BR_62:after, #BR_70:after, #A_78:after, #BR_86:after, #BR_94:after {
    font: normal normal 400 normal 16px / normal "Times New Roman";
}/*#BR_10:after, #BR_14:after, #BR_22:after, #A_30:after, #BR_38:after, #BR_46:after, #A_54:after, #BR_62:after, #BR_70:after, #A_78:after, #BR_86:after, #BR_94:after*/

#BR_10:before, #BR_14:before, #BR_22:before, #A_30:before, #BR_38:before, #BR_46:before, #A_54:before, #BR_62:before, #BR_70:before, #A_78:before, #BR_86:before, #BR_94:before {
    font: normal normal 400 normal 16px / normal "Times New Roman";
}/*#BR_10:before, #BR_14:before, #BR_22:before, #A_30:before, #BR_38:before, #BR_46:before, #A_54:before, #BR_62:before, #BR_70:before, #A_78:before, #BR_86:before, #BR_94:before*/

#A_18, #BR_26, #A_42, #BR_58, #BR_74, #A_90 {
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    font: normal normal 400 normal 16px / normal "Times New Roman";
}/*#A_18, #BR_26, #A_42, #BR_58, #BR_74, #A_90*/

#A_18:after, #BR_26:after, #A_42:after, #BR_58:after, #BR_74:after, #A_90:after {
    font: normal normal 400 normal 16px / normal "Times New Roman";
}/*#A_18:after, #BR_26:after, #A_42:after, #BR_58:after, #BR_74:after, #A_90:after*/

#A_18:before, #BR_26:before, #A_42:before, #BR_58:before, #BR_74:before, #A_90:before {
    font: normal normal 400 normal 16px / normal "Times New Roman";
}/*#A_18:before, #BR_26:before, #A_42:before, #BR_58:before, #BR_74:before, #A_90:before*/

#BR_34, #BR_50, #BR_82 {
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    font: normal normal 400 normal 16px / normal "Times New Roman";
}/*#BR_34, #BR_50, #BR_82*/

#BR_34:after, #BR_50:after, #BR_82:after {
    font: normal normal 400 normal 16px / normal "Times New Roman";
}/*#BR_34:after, #BR_50:after, #BR_82:after*/

#BR_34:before, #BR_50:before, #BR_82:before {
    font: normal normal 400 normal 16px / normal "Times New Roman";
}/*#BR_34:before, #BR_50:before, #BR_82:before*/

#A_66 {
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    font: normal normal 400 normal 16px / normal "Times New Roman";
}/*#A_66*/

#A_66:after {
    font: normal normal 400 normal 16px / normal "Times New Roman";
}/*#A_66:after*/

#A_66:before {
    font: normal normal 400 normal 16px / normal "Times New Roman";
}/*#A_66:before*/

